/* .menu {
  position: fixed;
  background: #00d315;
  height: 0;
  top: 57%;
  left: 0;
  width: 100vw;
  animation: close 1s ease forwards;
}

.active {
  animation: open 1s ease forwards;
}

@keyframes open {
  to {
    height: 100vh;
    top: 0;
  }
}

@keyframes close {
  from {
    height: 100%;
    top: 0;
  }
  to {
    height: 0;
    top: 57%;
  }
} */
